.header {

    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    font-size: $typo-primaria;


    .titulo-logo {
        font-size: 25px;
    color: black; 
   align-items: center;
    }
    
    
    .cuadradito { 
        display: flex;
        align-items: center;
        
    }

    .imagen .animate__flip {
       align-items: center;
        max-width: 50px;
        margin: 5px;
        }

        .informacion{
       
            list-style: none;
            font-size: 15px;
            display: flex;    
         
        }
        
        .link1 {
            background-color: rgb(255, 255, 255);
           padding-right: 20px;
           margin-top: 10px;
           
        }
        
        .link2 {
            background-color: rgb(255, 255, 255);
            padding-right: 20px;
            margin-top: 10px;
            
        }
 
        .link4 {
            background-color: rgb(255, 255, 255);
            padding-right: 20px;
            margin-top: 10px;
            
        }
        
        .link5 {
            background-color: rgb(255, 255, 255);
            padding-right: 20px;
            margin-top: 10px;
            
        }

        a {
            text-decoration: none;
            color: black;
        }
    }
        @media (max-width: 768px) {
            .titulo-logo {
                flex-direction: row;
                color: white
            }
            .cuadradito {
                background-color: rgb(9, 133, 195);
            }
        }
        
            @media (max-width: 425px) {
                .cuadradito {
                    background-color: rgb(176, 50, 8);
                }
            
                .titulo-logo {
                    color: white
                }
            }