.main-productos {

.subtitulo {
    
    color: rgba(0, 43, 95, 0.39);
    display: flex;
    justify-content: space-around;
}

.titulo {
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-size: $typo-primaria;
}

.contorno {
    color: black;
    height: 600px;
    
}

.foto-1 {
    width: 200px;
    height: 150px;
    

}

.foto1 {
    width: 100%px;
    height: 100%px;
    margin: 5px;
    
}

.foto2 {
     width: 200px;
    height: 150px;
    margin: 5px;
    margin-right: 50px;
    margin-left: 20px;
}

.foto3 {
    width: 200px;
    height: 150px;
    margin: 5px;
    
}


.fotones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}

.main-index {
    
    .contenedor{
        width: 100%;
        height: 550px;
    
    .imagen1 {
      object-fit: cover;
    width: 100%;
    height: 100%;
    }
}

.titulo-index {
    display: flex;
    flex-direction: column;
     align-items: center;
    }
}